<form action="/create-task" method="POST">
    <dialog id="add_task_form" class="modal backdrop-blur-sm">
        <div class="modal-box bg-base-200/50 border-l-4 border-blue-500 rounded">
            <form method="dialog">
                <button class="btn hidden btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
            </form>
            <h3 class="font-bold text-lg mt-5 mb-8">New task</h3>
            <label for="description"
                class="text-gray-400 text-sm mb-4 leading-tight tracking-normal">Description</label>
            <div class="relative mb-5 mt-2">
                <label class="input input-bordered flex items-center gap-2">
                    <input type="text" class="grow" name="description" placeholder="What have you to do ?" required
                        minlength="3" />
                </label>
            </div>
            <label for="deadline" class="text-gray-400 text-sm leading-tight tracking-normal">Deadline</label>
            <div class="relative mb-5 mt-1">
                <label class="input input-bordered flex items-center gap-2">
                    <input type="datetime-local" class="grow" name="deadline" placeholder="MM/YY/DD H:M" required />
                </label>
            </div>
            <label for="priority" class="text-gray-400 text-sm mb-4 leading-tight tracking-normal">Priority
                level</label>
            <div class="relative mb-5 mt-2">
                <div class="grid w-full grid-cols-5 gap-2 rounded-md bg-base-100 p-2">
                    <div>
                        <input type="radio" name="priority" id="1" value="1" class="peer hidden" checked />
                        <label for="1"
                            class="block cursor-pointer select-none rounded-md p-1 text-center transition duration-250 peer-checked:bg-blue-500 peer-checked:font-bold peer-checked:text-white">1</label>
                    </div>
                    <div>
                        <input type="radio" name="priority" id="2" value="2" class="peer hidden" />
                        <label for="2"
                            class="block cursor-pointer select-none rounded-md p-1 text-center transition duration-250 peer-checked:bg-green-500 peer-checked:font-bold peer-checked:text-white">2</label>
                    </div>
                    <div>
                        <input type="radio" name="priority" id="3" value="3" class="peer hidden" />
                        <label for="3"
                            class="block cursor-pointer select-none rounded-md p-1 text-center transition duration-250 peer-checked:bg-yellow-500 peer-checked:font-bold peer-checked:text-white">3</label>
                    </div>
                    <div>
                        <input type="radio" name="priority" id="4" value="4" class="peer hidden" />
                        <label for="4"
                            class="block cursor-pointer select-none rounded-md p-1 text-center transition duration-250 peer-checked:bg-orange-500 peer-checked:font-bold peer-checked:text-white">4</label>
                    </div>
                    <div>
                        <input type="radio" name="priority" id="5" value="5" class="peer hidden" />
                        <label for="5"
                            class="block cursor-pointer select-none rounded-md p-1 text-center transition duration-250 peer-checked:bg-red-500 peer-checked:font-bold peer-checked:text-white">5</label>
                    </div>
                </div>
            </div>
            <div class="flex items-center justify-start pt-5 w-full">
                <button type="submit"
                    class="btn transition duration-250 ease-in-out text-gray-700 rounded-md text-white bg-gradient-to-r to-cyan-500 from-blue-500 hover:to-cyan-600 hover:from-blue-600 hover:text-white px-8 py-2 text-sm">Confirm</button>
                <form method="dialog" class="mt-5">
                    <button class="ml-4 btn px-8 btn-ghost rounded-md">
                        Cancel
                    </button>
                </form>
            </div>
        </div>
    </dialog>
</form>