<!DOCTYPE html />
<html id="main" data-theme="dark">

<head>
    <title>TaskMan</title>
    <link rel="icon" type="image/x-icon"
        href="{{ url_for('static', filename='assets/main-logo.png') }}">
    <link rel="stylesheet"
        href="{{ url_for('static', filename='styles/main.css') }}" />
    <link rel="stylesheet"
        href="{{ url_for('static', filename='styles/daysi.css') }}" />
    <script src="{{ url_for('static', filename='styles/tailwind.css') }}">
    </script>
</head>

<body class="w-full">

    <div class="px-32 py-16 h-screen w-full fade-in">
        <div class="w-full h-full text-center">
            <img src="{{ url_for('static', filename='assets/404.png') }}"
                class="h-2/4 mt-32 mb-16 mx-auto pt-16 text-center" alt="">
            <span class="text-xl font-medium skeleton p-4 bg-black/5 text-slate-200 mt-8">
                Aïe! 404 Not found!
            </span>
            <p class="text-xl text-slate-500 mt-4 w-full">
                <a href="/"
                    class="mt-4 link link-info h-16 justify-center rounded transition duration-300 py-3 flex items-center">
                    <span class="pl-5">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="h-6 mr-2">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
                        </svg>
                    </span>
                    Return to home
                </a>
            </p>
        </div>
    </div>

    <script src="{{ url_for('static', filename='/scripts/main.js') }}">
    </script>
</body>

</html>