<form action="/add-sub-category/{{ category.id }}" method="POST">
    <dialog id="add_sub{{ category.id }}category" class="modal backdrop-blur-sm">
        <div class="modal-box bg-base-200/50 border-l-4 border-blue-500 rounded">
            <form method="dialog">
                <button class="btn hidden btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
            </form>
            <h3 class="font-bold text-lg mt-5 mb-8">
                New sub category in
                <span class="badge badge-info">{{ category.description }}</span>
                category
            </h3>
            <label class="input input-bordered flex items-center gap-2">
                <input type="text" class="grow" name="description" placeholder="Give a name to the category" required
                    minlength="3" />
            </label>
            <div class="flex items-center justify-start pt-5 w-full">
                <button type="submit"
                    class="btn rounded-md text-white bg-gradient-to-r from-blue-500 via-blue-500 to-cyan-500 hover:btn-info px-8 py-2 text-sm">Confirm</button>
                <form method="dialog" class="mt-5">
                    <button class="ml-4 btn px-8 btn-neutral rounded-md">
                        Cancel
                    </button>
                </form>
            </div>
        </div>
    </dialog>
</form>