<!DOCTYPE html />
<html id="main" class="overflow-hidden" data-theme="dark">

<head>
    <title>Taskman</title>
    <link rel="icon" type="image/x-icon"
        href="{{ url_for('static', filename='assets/main-logo.png') }}">
    <link rel="stylesheet"
        href="{{ url_for('static', filename='styles/main.css') }}" />
    <link rel="stylesheet"
        href="{{ url_for('static', filename='styles/daysi.css') }}" />
    <script src="{{ url_for('static', filename='styles/tailwind.css') }}">
    </script>
</head>

<body class="w-full overflow-hidden">

    <div class="md:px-16 md:py-12 md:pb-20 h-screen w-full overflow-hidden">
        <div class="h-full backdrop-blur-sm p-1 flex flex-col rounded-md overflow-hidden shadow-lg">
            {% include 'parts/navbar.html' %}
            <div class="h-full flex overflow-auto relative">
                <div class="h-full w-full flex flex-col relative">
                    <div class="drawer">
                        <input id="my-drawer" type="checkbox" class="drawer-toggle" />
                        <div class="drawer-content">
                            <div
                                class="h-16 text-sm font-medium text-slate-300 px-4 flex items-center justify-between space-x-4">
                                <!-- Page content here -->
                                <label for="my-drawer" class="ml-2 btn z-[90] drawer-button">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke-width="2" stroke="currentColor" class="w-6 h-6 stroke-blue-400">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                                    </svg>
                                </label>
                                {% include 'components/filter.html' %}
                                <div></div>
                            </div>
                        </div>
                        {% include 'parts/drawer.html' %}
                    </div>
                    <div class="h-full w-full pt-3" id="inner-page" style="overflow-y: scroll;">
                        {% if tasks == [] and (categories.__len__() == 1 or sub_status != "all") %}
                        <div class="w-full h-full text-center pt-32 fade-in">
                            <img src="{{ url_for('static', filename='assets/empty.png') }}"
                                class="h-2/4 mx-auto text-center mb-8" alt="">
                            <span class="text-xl font-medium skeleton p-4 bg-black/5 text-slate-200 ml-16 mt-8">
                                🎉 Great! No task found! 🎉
                            </span>
                        </div>
                        {% else %}
                        {% for category in categories %}
                        {% with category = category %}
                        {% if category.id == "@" %}
                        {% include 'components/category/default_category.html' %}
                        {% else %}
                        {% include 'components/category/category.html' %}
                        {% endif %}
                        {% endwith %}
                        {% endfor %}
                        {% endif %}
                    </div>
                    {% include 'parts/footer.html' %}
                    {% include 'components/add_btn.html' %}
                </div>
            </div>
        </div>
    </div>
    {% include "components/toast.html" %}
    <script src="{{ url_for('static', filename='/scripts/main.js') }}">
    </script>
    <script
        src="{{ url_for('static', filename='/scripts/dropdown.js') }}">
    </script>
</body>

</html>