<!DOCTYPE html />
<html id="main">

<head>
    <title>TaskMan</title>
    <link rel="icon" type="image/x-icon"
        href="{{ url_for('static', filename='assets/main-logo.png') }}">
    <link rel="stylesheet"
        href="{{ url_for('static', filename='styles/main.css') }}" />
    <link rel="stylesheet"
        href="{{ url_for('static', filename='styles/daysi.css') }}" />
    <script src="{{ url_for('static', filename='styles/tailwind.css') }}">
    </script>
</head>

<body class="w-full">

    <div class="md:px-16 md:py-16 md:pb-32 h-screen w-full">
        {% include 'parts/navbar.html' %}
        <div class="h-full backdrop-blur-sm mt-2 overflow-hidden flex flex-col rounded-md overflow-hidden shadow-lg">
            <div class="h-full flex overflow-auto relative">
                <div class="h-full w-full flex flex-col relative">
                    <div
                        class="h-16 text-sm font-medium text-slate-300 px-4 flex items-center justify-center space-x-4">
                        <a href="/sub_status/all" {% if sub_status=="all" %}
                            class="px-4 py-4 border-b-4 border-b-blue-400 rounded w-32 text-center" {% else %}
                            class="px-4 py-4 hover:rounded hover:bg-base-200/50 w-32 text-center" {% endif
                            %}>All</a>
                        <a href="/sub_status/completed" {% if sub_status=="completed" %}
                            class="px-4 py-4 border-b-4 border-b-blue-400 rounded w-32 text-center" {% else %}
                            class="px-4 py-4 hover:rounded hover:bg-base-200/50 w-32 text-center" {% endif
                            %}>COMPLETED</a>
                        <a href="/sub_status/remaining" {% if sub_status=="remaining" %}
                            class="px-4 py-4 border-b-4 border-b-blue-400 rounded w-32 text-center" {% else %}
                            class="px-4 py-4 hover:rounded hover:bg-base-200/50 w-32 text-center" {% endif
                            %}>REMAINING</a>
                    </div>
                    <div class="h-full w-full pt-3" style="overflow-y: auto;">
                        {% if tasks == [] %}
                        <div class="w-full h-full text-center">
                            <img src="{{ url_for('static', filename='assets/empty.png') }}"
                                class="h-3/4 mx-auto pr-16 pt-16 text-center" alt="">
                            <span class="text-sm font-medium text-slate-500">Great! No task found!</span>
                        </div>
                        {% else %}
                        {% include 'components/category/default_category.html' %}
                        {% endif %}
                        {% include 'components/add_btn.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "components/toast.html" %}
    <script src="{{ url_for('static', filename='/scripts/main.js') }}">
    </script>
    <script
        src="{{ url_for('static', filename='/scripts/dropdown.js') }}">
    </script>
</body>

</html>