<div style="z-index: 90;"
  class="py-12 backdrop-blur-sm hidden bg-white/30 absolute transition duration-150 ease-in-out z-10 top-0 right-0 bottom-0 left-0"
  id="modal">
  <div role="alert" class="container m-auto w-11/12 md:w-2/3 max-w-lg">
    <div class="relative py-8 px-5 md:px-10 bg-white shadow-md border-l-4 border-blue-500 rounded">
      <div class="w-full flex items-center justify-between text-gray-600 mb-8">
        <h1 class="text-xl text-blue-500 tracking-normal leading-tight">New Category</h1>
        <!-- <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
          class="icon icon-tabler icon-tabler-wallet" width="52" height="52">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="M8.25 6.75h12M8.25 12h12m-12 5.25h12M3.75 6.75h.007v.008H3.75V6.75Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0ZM3.75 12h.007v.008H3.75V12Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm-.375 5.25h.007v.008H3.75v-.008Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z" />
        </svg> -->
        <button class="cursor-pointer text-gray-400 hover:text-gray-600 transition duration-150 ease-in-out rounded"
          onclick="modalHandler()" aria-label="close modal" role="button">
          <svg xmlns="http://www.w3.org/2000/svg" class="" width="20" height="20" viewBox="0 0 24 24" stroke-width="2.5"
            stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" />
            <line x1="18" y1="6" x2="6" y2="18" />
            <line x1="6" y1="6" x2="18" y2="18" />
          </svg>
        </button>
      </div>

      <label for="description" class="text-gray-800 text-sm  leading-tight tracking-normal">Description</label>
      <input id="description"
        class="mb-5 mt-2 text-gray-600 focus:outline-none focus:border focus:border-blue-500 font-normal w-full h-10 flex items-center pl-3 text-sm border-gray-300 rounded border"
        placeholder="What have you to do ?" />
      <div class="flex items-center justify-start pt-5 w-full">
        <button
          class="transition duration-150 ease-in-out text-gray-700 rounded text-white bg-gradient-to-r to-cyan-500 from-blue-500 hover:to-cyan-600 hover:from-blue-600 hover:text-white px-8 py-2 text-sm">Confirmer</button>
        <button class="ml-3 transition duration-150 ease-in-out hover:bg-gray-100 rounded px-8 py-2 text-sm"
          onclick="modalHandler()">Cancel</button>
      </div>
    </div>
  </div>
</div>