<div class="toast toast-start">
    {% for message in get_flashed_messages() %}
    {% if 'success' in message.lower() %}
    <div role="alert" class="alert rounded-md border-t-0 border-b-0 border-r-0 border-l-4 border-success">
        <span class="loading loading-dots loading-lg mt-1 text-success mr-1"></span>
        <span>{{ message  }}</span>
    </div>
    {% else %}
    <div role="alert" class="alert rounded-md border-t-0 border-b-0 border-r-0 border-l-4 border-error">
        <span class="loading loading-dots loading-lg mt-1 text-error mr-1"></span>
        <span>{{ message  }}</span>
    </div>
    {% endif %}
    {% endfor %}
</div>