<div class="drawer-side z-[190]">
    <label for="my-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
    <div class="">
        <ul class="menu rounded-md min-h-full rounded-none border-l-4 border-blue-400 p-4 w-80 bg-base-200 backdrop-blur-sm text-base-content">
            <p class="font-bold mb-4 ml-4 text-xl">Categories map</p>
            <li>
                <label for="my-drawer" class="flex justify-between items-center" onclick="goToId('todo')">
                    ToDo
                    <div class="badge">{{ default_tasks.__len__() }}</div>
                </label>
            </li>
            {% for category in categories %}
            <li>
                <label for="my-drawer" class="flex justify-between items-center"
                    onclick="goToId('category{{ category.id }}')">
                    {{ category.description }}
                    <div class="badge">{{ category.containsTasks(tasks).__len__() }}</div>
                </label>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>