<div
    class="px-5 py-0.5 flex justify-between shadow-xl items-center rounded-box bg-gradient-to-r from-blue-500 via-blue-500 to-cyan-500">
    <a href="/" class="flex items-center">
        <!-- <img src="{{ url_for('static', filename='assets/logo.png') }}"
            width="40" alt=""> -->
        <span class="tracking-wide text-white text-xl">
            Task
        </span>
        <span class="loading loading-dots loading-md mt-1.5 text-white mx-1"></span>
        <span class="tracking-wide text-white text-xl">
            an
        </span>
    </a>
    <!-- search -->
    <form action="/search" method="POST" class="w-1/2 text-white relative rounded-box shadow-md m-0 focus:shadow-lg">
        <label class="input bg-base-200 rounded-box flex items-center pr-0">
            <input type="text" class="grow" placeholder="Search" name="search" value="{{ search }}" />
            <button type="submit" class="btn btn-ghost border-none rounded-r-box rounded-l-none">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor"
                    class="w-4 h-4 opacity-70">
                    <path fill-rule="evenodd"
                        d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z"
                        clip-rule="evenodd" />
                    </svg>
            </button>
        </label>
    </form>
    <!-- sorter -->
    <div class="relative inline-block text-left">
        {% include 'components/sorter.html' %}
    </div>
</div>