<div class="h-full w-64 border-r pt-10 relative" style="overflow-y: auto; scrollbar-width: none">
    <div class="w-full px-5 pb-16">
        <p class="text-xs font-medium text-gray-400">DEFAULT</p>
        <!-- menu-item -->
        <a href="/" {% if request.path=="/" %}
            class="mt-4 py-1.5 text-sm font-medium text-blue-500 group cursor-pointer flex items-center" {% else %}
            class="mt-4 py-1.5 text-sm font-medium text-slate-500 hover:text-blue-500 group cursor-pointer flex items-center"
            {% endif %}>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                stroke="currentColor" class="h-5 mr-4 group-hover:stroke-blue-500">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="m21 7.5-2.25-1.313M21 7.5v2.25m0-2.25-2.25 1.313M3 7.5l2.25-1.313M3 7.5l2.25 1.313M3 7.5v2.25m9 3 2.25-1.313M12 12.75l-2.25-1.313M12 12.75V15m0 6.75 2.25-1.313M12 21.75V19.5m0 2.25-2.25-1.313m0-16.875L12 2.25l2.25 1.313M21 14.25v2.25l-2.25 1.313m-13.5 0L3 16.5v-2.25" />
            </svg>

            ALL TASKS (5)
        </a>

        {% include 'components/category.html' %}
        {% if categories != [] %}

        <p class="text-xs font-medium text-gray-400 mt-8">CATEGORIES</p>
        {% for category in categories %}
        {% with category = category %}
        {% include 'components/category.html' %}
        {% endwith %}
        {% endfor %}
        <div class="mt-4 py-1.5 text-sm font-medium text-blue-500 group cursor-pointer flex items-center">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                stroke="currentColor" class="h-5 mr-4 stroke-blue-500">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M6.429 9.75 2.25 12l4.179 2.25m0-4.5 5.571 3 5.571-3m-11.142 0L2.25 7.5 12 2.25l9.75 5.25-4.179 2.25m0 0L21.75 12l-4.179 2.25m0 0 4.179 2.25L12 21.75 2.25 16.5l4.179-2.25m11.142 0-5.571 3-5.571-3" />
            </svg>
            Messages
        </div>
        {% endif %}
    </div>
</div>
<button
    class="mt-4 w-full py-3 bg-gradient-to-r absolute bottom-0 hover:bg-gradient-to-l from-cyan-500 to-blue-500 transition duration-500 text-sm text-white font-mediumbg-gradient-to-r group cursor-pointer flex items-center">
    <span class="pl-5">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
            class="h-5 mr-4 stroke-white">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
        </svg>
    </span>
    New category
</button>